.friend{
    width: max-content;
    height: max-content;
    padding: 30px;
    /* background-color: rgba(17, 25, 40, 0.5); */
    background-color: rgba(32, 44, 60, 0.5);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 10px;
    position: absolute;
    top:25%;
    left:0%;
    right:0%;
    margin:auto;

    form{
        display: flex;
        gap: 20px;

        input{
            padding: 20px;
            border-radius:10px;
            border:none;
            outline:none;
        }
        button{
            padding: 20px;
            border-radius: 10px;
            background-color: #1a73e8;
            color: white;
            border:none;
            cursor: pointer;
        }

    }

    .user{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
             display: flex;
             align-items: center;
             gap: 20px;
        }
    }

    button{
        padding: 10px;
        border-radius: 10px;
        background-color: #1a73e8;
        color: white;
        border:none;
        cursor: pointer;
    }

}